.loader {
	position: relative;
  width: 20px;
  height: 20px;
  background-image: url('../../../images/icons/spinner.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: lds-dual-ring 0.7s linear infinite;
}
