@import './variables/colors.scss';
@import './variables/mixins.scss';
@import './variables/media-query.scss';
@import './typografy.scss';
@import './animations/spinnerAnimation.scss';

@import './layout.scss';
@import '../pages/Posts/Posts.scss';
@import '../pages/Post/Post.scss';
@import '../pages/ErrorPage/ErrorPage.scss';
@import '../pages/Login/Login.scss';
@import '../pages/Main/Main.scss';
@import '../pages/About/About.scss';

@import '../components/AuthNav/AuthNav.scss';
@import '../components/PostList/PostList.scss';
@import '../components/PostItem/PostItem.scss';
@import '../components/PostFilter/PostFilter.scss';
@import '../components/PostForm/PostForm.scss';

@import '../components/UI/button/MyButton.scss';
@import '../components/UI/input/MyInput.scss';
@import '../components/UI/loader/MyLoader.scss';
@import '../components/UI/modal/MyModal.scss';
@import '../components/UI/navigation/MyNavigation.scss';
@import '../components/UI/pagination/MyPagination.scss';
@import '../components/UI/select/MySelect.scss';

html,
body {
  font-size: 16px;
  line-height: 16px;
  background-color: $white;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
	padding: 0;
	margin: 0;
}
