.post-page__body {
  margin-bottom: 32px;
}

.post-page__header {
	display: flex;
	align-items: center;
}

.post-page__loader {
	margin-top: -30px;
	margin-left: 12px;
}

.comments {
  &__title {
    margin-bottom: 24px;
  }

  &__item {
    margin-bottom: 24px;
  }
}

.comment__title {
  margin-bottom: 12px;
}