.form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.form__input {
	margin-bottom: 15px;
}

.form__button {
	align-self: center;
	height: 30px;
	background-color: $tomato;
	border: none;
	width: 200px;
	color: $white;
	font-size: 14px;
	border-radius: 4px;
}
